*.kate-swp
*.orig
*~
.*~
.directory
.env
.kateproject*
.phpunit.result.cache
/.idea/
/.php_cs.cache
/docs/coverage/
/docs/sami
/node_modules
/public/storage
/storage/*.key
/storage/debugbar/
/storage/proxies/
/storage/sami
/vendor
npm-debug.log
yarn-error.log
