*.kate-swp
*.orig
*~
.*~
.directory
.env
.kateproject*
/.idea/
/.php_cs.cache
/docs/sami
/node_modules
/public/storage
/storage/*.key
/storage/proxies/
/storage/sami
/vendor
npm-debug.log
yarn-error.log
