<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         defaultTestSuite="Feature,Unit"
         colors="true">
    <testsuites>
        <testsuite name="Browser">
            <directory suffix="Test.php">./tests/Browser</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <logging>
        <!--<log type="coverage-clover" target="docs/coverage/clover.xml"/>-->
        <!--<log type="coverage-html" target="docs/coverage" lowUpperBound="30" highLowerBound="70"/>-->
        <!--<log type="coverage-php" target="docs/coverage/coverage.serialized"/>-->
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <!--<log type="junit" target="docs/coverage/junit.xml"/>-->
        <!--<log type="testdox-html" target="docs/coverage/testdox.html"/>-->
        <!--<log type="testdox-text" target="docs/coverage/testdox.txt"/>-->
    </logging>
    <php>
        <server name="APP_ENV" value="testing"/>
        <!--<server name="BCRYPT_ROUNDS" value="4"/>-->
        <server name="CACHE_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="sqlite-memory"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
