@import url(https://fonts.googleapis.com/css?family=Chango|Exo&subset=latin,latin-ext);

body {
    color: #000;
    background-color: #FFF;
    font-family: 'Exo', sans-serif;
}

input {display: block}
input[type='checkbox'] {display: inline}

nav {float: right}

.error {color: red}
.info {color: blue}
.success {color: green}
.warning {color: orange}
