@import url(https://fonts.googleapis.com/css?family=Chango|Exo&subset=latin,latin-ext);

body {
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0 2em;
    background-color: #FFF;
    color: #000;
}

h1 small {
    font-size: 50%;
    font-weight: normal;
}

nav {float: right}

input {
    display: block;
    margin-bottom: .8em;
}
input[type='checkbox'] {display: inline}

.error {color: red}
.info {color: blue}
.success {color: green}
.warning {color: orange}
