.custom-control-label::after, .custom-control-label::before {
  top: 0.1rem;
}
.select2 {
  width: 100% !important;
}
.select2-dropdown {
  z-index: 9999;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  margin-top: 0px;
}
