.table tbody td {
    vertical-align: middle;
}

// Show table caption on top of the table
.table caption {
    //text-align: center;
    caption-side: top;
}

// Sortable links in table headers
th.sortable {
    a {color: $gray; text-decoration:none}
    a.active {color: $bmd-label-color;}
    a.asc:after, a.desc:after {color: $gray; margin-left: .3em}
    a.asc:after {content: "↓"}
    a.desc:after {content: "↑"}
}
