// Center cell content vertically
.table tbody td {
    vertical-align: middle;
}

// Restore .table-hover behaviour which Tabler seems to remove
.table-hover tbody tr:hover {
    background-color: $gray-200;
}

// Center table caption
.table caption {
    text-align: center;
}

// Decorate sortable links in table headers
.table th.sortable {
    a {color: $gray; text-decoration:none; white-space: nowrap;}
    a.active {color: $link-color !important}
    a.asc:after, a.desc:after {color: $gray; margin-left: .3em}
    a.asc:after {content: "↓"}
    a.desc:after {content: "↑"}
    .disabled {cursor: not-allowed}
}

// Compact buttons in tables (Using .btn-group-sm instead of .btn-group has undesired effect under Tabler)
table.table .btn-group .btn {
    font-size: 0.75rem;
    padding: 0 0.3rem;
}

// Fit width to content for .actions column
table.table td.actions {
    width:1em;
    white-space: nowrap;
}
